@charset "utf-8";
html, body { margin: 0; padding: 0; font-family: Verdana,sans-serif; font-size: 1em; }
#cont{ margin: -10px -11px 0; }
#membrs span { cursor: pointer; vertical-align: middle; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; }
#sml img, #chst, #chat span { cursor: pointer; }
#msgout { padding: 0px; margin: 0px; background: none repeat scroll 0 0 rgba(31, 31, 31, 0.4); z-index: 10; width: 100%; outline: medium none; border: 1px solid rgba(31, 31, 31, 0.4); height: auto; border-radius: 3px 3px 3px 3px; }
#top_title { padding: 0px 5px 5px 5px; }
#videochat { border-radius: 5px; border-style: solid; border-width: 1px; margin: 0; padding: 0; }
#bot_butt { border-radius: 0 0 5px 5px; border-style: solid; border-width: 0 1px 1px; margin: 0; padding: 5px 0 0; text-align:center; }
#shhi { cursor: pointer; width: 187px;  font-size: 12px; text-decoration: none;  border-radius: 5px 5px 0 0; border-style: solid solid none; border-width: 1px 1px 0; }
#box { position: relative; text-align:left; max-width: 1200px; min-width: 950px; padding: 0 10px; }
#player{ float:left; width: 640px; height: 360px; }
#panel { margin: 0 10px 10px; padding: 6px 3px 0 6px; }
#playinfo { float: left; height: 31px; width: 640px;}
#msg { text-align: right; padding-right: 10px; font-style: italic; }
#chatzone { height: 360px; }
#sendmsg { height: 20px; overflow: hidden; border-radius: 5px 5px 5px 5px; border-style: solid; border-width: 1px; margin: 0 5px 0 0; padding: 5px;}
#chat{ overflow: hidden; word-wrap: break-word; }
#chat div{ padding: 5px 5px 5px 7px; }
#chat p{ color: darkred; padding: 0; margin: 0; }
#chat img{ padding: 0px 2px 0px 2px; }
#chatcolor { margin: 10px 10px 0; height: 360px; }
#caption { float: left; font-size: 1.2em; font-weight: bold; }
#caption a { font-size: 12px; text-decoration: none; margin-left: 20px; font-weight: normal;}
#membrs { padding: 0 10px;}
#membrs span{  text-align: center; line-height: 30px; font-size: 12px; margin-bottom: 15px; border-radius: 3px 3px 3px 3px; padding: 4px 7px 4px 0px; border-style: solid; border-width: 1px;  }
#smiles { float: right; cursor: pointer; width: 20px; height: 20px; padding: 0; margin: 0 0 0 3px; background: url('but_sm.png') no-repeat scroll center center transparent; }
#membersbox { border-style: solid; border-width: 0px 1px 0px 1px; padding-top: 10px; }
#sml { display: none; overflow: hidden; position: relative; border-radius: 0 0 5px 5px; border-style: solid; border-width: 0 1px 1px; margin: -5px 5px 0 0; padding: 5px; text-align: center; }
#golos { /*display: none;*/ overflow: hidden; position: relative; top: -352px; margin: 0 20px 0 0; padding: 5px; }
#mystyle { height: 10px; }
#dark  { cursor: pointer; float: right; height: 23px; width: 23px; margin: -15px 0 0; background: url('dc.png') no-repeat scroll 0% 0% transparent; }
#light { cursor: pointer; float: right; height: 23px; width: 23px; margin: -15px 5px 0 0; background: url('lc.png') no-repeat scroll 0% 0% transparent; }
#count { height: 211px; width: 211px; position: absolute; left: 50%; margin-left: -105px; top: 10px; text-align: center; font-size: 40px; line-height: 220px; cursor: default; }
.ban { cursor: pointer; bottom: 2px; right: 2px;  position: relative; vertical-align: middle; }
.clear_both { clear: both; }
.lc { background: url('lc.gif') repeat scroll 50% 0 transparent; background-color: #b2916d; color: #333333; }
.lc_count { background: url('lc_str.png') no-repeat scroll 0% 0% transparent; color: #ae7a68;}
.lc_b { background-color: rgba(238, 238, 238, 0.698); border-color: #CCCCCC; }
.lc a, .lc_a { color: #FF6600; }
.lc_brdr { color: #666666; background-color: rgba(238, 238, 238, 0.698); border-color: #CCCCCC; }
.lc_brdr img, .lc_chat img { opacity: 1; }
.lc_chat span, .lc_cap { color: #002244; }
.lc_cap a { color: #666666; }
.lc_mmbr span{ color: #666666; text-shadow: 0 -1px 0 rgba(70, 70, 70, 0.25); background-color: #D5D5D5; border-color: #CCCCCC; }
.lc_mmbr .itsmy { border-color: #999999 !important; cursor: default !important; }
.lc_chat_clr { background-color: #CCCCCC; }
.lc_panel { background: url('lc_pn.png') repeat-x scroll 0% 0% transparent; }
.dc { background: url('dc.gif') repeat scroll 50% 0 transparent;  background-color: #2e2d2d; color: #AAAAAA; }
.dc_count { background: url('dc_str.png') no-repeat scroll 0% 0% transparent; color: #888888;}
.dc_b { background-color: rgba(31, 31, 31, 0.698); border-color: #333333; }
.dc a, .dc_a { color: #C9BE89; }
.dc_brdr { color: #666666; background-color: rgba(31, 31, 31, 0.698); border-color: #333333; }
.dc_brdr img, .dc_chat img  { opacity: 0.5; }
.dc_chat span, .dc_cap { color: #999999; }
.dc_cap a { color: #666666; }
.dc_mmbr span{ color: #666666; text-shadow: 0 -1px 0 rgba(70, 70, 70, 0.25); background-color: #333333; border-color: #3a3a3a; }
.dc_mmbr .itsmy { border-color: #666666 !important; cursor: default !important; }
.dc_chat_clr { background-color: #000000; }
.dc_panel { background: url('dc_pn.png') repeat-x scroll 0% 0% transparent; }

#scroll { margin: 0; overflow: hidden; height: 360px; word-wrap: break-word; }
#scroll .viewport { height: 360px; overflow: hidden; position: relative; }
#scroll .overview { list-style: none; position: relative; left: 0; top: 0; padding: 0; margin: 0; }
#scroll .scrollbar{  float: right; width: 15px; }
#scroll .track { height: 100%; width:15px; position: relative; }
#scroll .thumb {  height: 20px; width: 12px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scroll .thumb .end { overflow: hidden; height: 5px; width: 12px; }
#scroll .disable { display: none; }
#vk { width: 48px; height: 48px; display: inline-block; background: url('vk.png') no-repeat scroll 0% 0% transparent; }
#vk:hover { width: 64px; height: 64px; background: url('vk_h.png') no-repeat scroll 0% 0% transparent; }
#tw { width: 48px; height: 48px; display: inline-block; background: url('tw.png') no-repeat scroll 0% 0% transparent; }
#tw:hover { width: 64px; height: 64px; background: url('tw_h.png') no-repeat scroll 0% 0% transparent; }
#yt { width: 48px; height: 48px; display: inline-block; background: url('yt.png') no-repeat scroll 0% 0% transparent; }
#yt:hover { width: 64px; height: 64px; background: url('yt_h.png') no-repeat scroll 0% 0% transparent; }